body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}

.flex-container {
    display: flex;
    width: 90%;
    height: 500px;
    border: 20px solid slateblue;
    /* flex-direction: row-reverse; */
    flex-wrap:wrap-reverse;
    align-content:normal;
    flex-shrink: 2;
}

.flex-item {
    width: 75px;
    height: 75px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: lightblue;
    border: 2px solid darkblue;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    line-height: 1.4;
}

#flex-item-1 {
    background-color: pink;
    /* flex: 3 2 250px; */
    /* align-self: stretch; */
    /* flex-grow: 2; */
    flex-shrink: 2;
}

#flex-item-2 {
    background-color: rgb(96, 17, 31);
}

#flex-item-3 {
    background-color: rgb(79, 206, 106);
}

#flex-item-4 {
    background-color: rgb(131, 109, 32);
}

#flex-item-5 {
    background-color: rgb(228, 118, 136);
}